py-cord>=2.5.0,<2.6.0  # https://github.com/Pycord-Development/pycord
PyYAML>=6.0.1,<6.1.0  # https://github.com/yaml/pyyaml
jishaku>=2.5.2,<2.6.0  # https://github.com/Gorialis/jishaku
colorthief>=0.2.1,<0.3.0  # https://github.com/fengsp/color-thief-py
httpx>=0.27.0,<0.28.0  # https://github.com/encode/httpx
pytz>=2024.1,<2024.2.0  # http://pythonhosted.org/pytz
psutil>=5.9.8,<5.10.0  # https://github.com/giampaolo/psutil
undetected-chromedriver>=3.5.5,<3.6.0  # https://github.com/ultrafunkamsterdam/undetected-chromedriver
dateparser>=1.2.0,<1.3.0  # https://github.com/scrapinghub/dateparser
pillow>=10.3.0,<10.4.0  # https://github.com/python-pillow/Pillow
spotipy>=2.23.0,<2.24.0  # https://github.com/plamere/spotipy
undefined>=0.0.8,<0.1.0  # https://github.com/Carreau/undefined
wavelink>=3.2.0,<3.4.0
tmdbv3api>=1.9.0,<1.10.0  # https://github.com/AnthonyBloomer/tmdbv3api
motor>=3.4.0,<3.5.0  # https://github.com/mongodb/motor
